<div class="card">
  <div class="card-header"><h3>First Exercise</h3></div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit(theForm)" #theForm="ngForm">
      <div class="form-group">
        <label for="firstValue">First Value</label>
        <input [(ngModel)]="firstValue" required #firstNumber="ngModel" name="firstValue" type="number" id="firstValue" class="form-control" placeholder="Enter the first value">
      </div>
      <div [hidden]="firstNumber.valid || firstNumber.pristine"
           class="alert alert-danger">
        Value is required.
      </div>
      <div class="form-group">
        <label for="secondValue">Second Value</label>
        <input [(ngModel)]="secondValue" required #secondNumber="ngModel" name="secondValue" type="number" id="secondValue" class="form-control" placeholder="Enter the second value" (ngModelChange) = "checkValues()">
      </div>
      <div [hidden]="secondNumber.valid || secondNumber.pristine"
           class="alert alert-danger">
        Value is required.
      </div>
      <div [hidden]="!errorNumber"
           class="alert alert-danger">
        Second value must be higher than the first one.
      </div>
      <button [disabled]="!theForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<div *ngIf = "result.length > 0; else noResult" class="card">
  <div class="card-header bg-primary text-light"><h3>Result</h3></div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Number(n)</th>
          <th scope="col">Perfect Square f(n)</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let value of result">
            <td>{{value.number}}</td>
            <td>{{value.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
<ng-template #noResult>
  <ng-container *ngIf="result.length == 0">
    <div class="card">
      <div class="card-header"><h3>No Results</h3></div>
    </div>
  </ng-container>
</ng-template>
