<div class="card">
  <div class="card-header"><h3>Second Exercise - Create a Post!</h3></div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit(theForm)" #theForm="ngForm">
      <div class="form-group">
        <label for="postTitle">Title</label>
        <input ngModel required #postTitle="ngModel" name="postTitle" id="postTitle" type="text" class="form-control">
      </div>
      <div [hidden]="postTitle.valid || postTitle.pristine"
           class="alert alert-danger">
        Value is required.
      </div>
      <button [disabled]="!theForm.form.valid || loading" type="submit" class="btn btn-primary">Generate Request</button>
    </form>
  </div>
</div>
<div class="loader" *ngIf="loading"></div>
<div *ngIf="this.testService.results && !loading" class="card align-center">
  <div class="card-header bg-primary text-light"><h3>Post Successfully Created!</h3></div>
  <div class="card-body" *ngIf="this.testService.results">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-6">
        <p><strong>User ID</strong></p>
        <p><strong>ID</strong></p>
        <p><strong>Title</strong></p>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6">
        <p>{{this.testService.results.userId}}</p>
        <p>{{this.testService.results.id}}</p>
        <p>{{this.testService.results.title}}</p>
      </div>
    </div>

  </div>
</div>

