<div class="container align-center">
  <h1 class="text-dark small-margin">Alana - Knowledge Test (Angular 5)</h1>
  <embed id="knowledge_test" src="assets/alana_knowledge_test.pdf" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
</div>
