<div id="wrapper">
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<div id="footer">
  <div class="footer-container align-center little-top-padding">
    <p> Alana - Knowledge Test - Leonardo De Pinho - 26/03/2018</p>
  </div>
</div>
