html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* You can add global styles to this file, and also import other style files */
body{
  background-color: #EDEDED !important;
}
.card {
  border-radius: 15px;
  margin: 25px;
  padding: 25px;
}
.align-center{
  text-align: center;
}
.loader {
  margin: 0 auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.dark-green{
  color: darkgreen;
}
#knowledge_test {
  width: 100%;
  height: 800px;
  z-index: 0;
}
.small-margin{
  margin: 20px;
}
#footer {
  height: 60px;
  background-color: #343a40;
}
/* Wrapper for page content to push down footer */
#wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
.footer-container{
  color: #EDEDED;
}
.little-top-padding{
  padding-top: 20px;
}
